{% extends "base.html" %}
<!--  -->
{% load i18n %}
<!--  -->
{% load account socialaccount %}
<!--  -->
{% load crispy_forms_tags %}
<!--  -->
{% block head_title %}{% trans "Sign In" %}{% endblock %}
<!--  -->
{% block content %}

<section class="container text-center text-light p-4">
  <h1>{% trans "Sign In" %}</h1>
  <hr />
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4 mt-5 mb-5">
      <form
        class="login text-dark"
        method="POST"
        action="{% url 'account_login' %}"
      >
        {% csrf_token %} {{ form | crispy }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn btn-outline-dark" type="submit">
          {% trans "Sign In" %}
        </button>
      </form>
    </div>
    <hr />
    <p class="h5">
      {% blocktrans %}
      <!--  -->
      Welcome back to the coolcoders blog! If you have not created an account
      yet, then
      <a class="link" href="{{ signup_url }}">sign up</a> first.
      <!--  -->
      {% endblocktrans %}
    </p>
  </div>
</section>
{% endblock %}
