{% extends "base.html" %}
<!--  -->
{% block content %}

<div class="container pt-5 text-center">
  <h1 class="heading mb-5 text-light">
    What Would You <br />
    Like To Read Today?
  </h1>
  <ul class="list-inline widget-list-inline">
    <li class="list-inline-item m-1">
      <a href="{% url 'index' 'tech'   %}">Tech</a>
    </li>
    <li class="list-inline-item m-1">
      <a href="{% url 'index' 'coding'  %}">Coding</a>
    </li>
    <li class="list-inline-item m-1">
      <a href="{% url 'index' 'gadgets'  %}">Gadgets</a>
    </li>
    <li class="list-inline-item m-1">
      <a href="{% url 'index' 'events'  %}">Events</a>
    </li>
  </ul>
  <div class="container mt-5">
    <div class="row pt-md-5">
      <div class="col-lg-4 mb-5">
        <h2 class="article-title">
          <strong><em>Editors Pick</em></strong>
        </h2>
        <article class="card fade-in">
          <img
            src="{{ editors_pick.featured_image.url }}"
            class="card-img-top"
            aria-hidden="false"
          />

          <div class="card-body p-1">
            <h3 class="h4 mb-3">
              <strong class="text-uppercase"
                ><a href="{% url 'post_detail' slug=editors_pick.slug %}"
                  >{{editors_pick.title}}</a
                ></strong
              >
            </h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa-solid fa-user text-info"></i>
                <a href="{% url 'profile' slug=editors_pick.author.username %}">
                  <strong class="text-capitalize">
                    {{editors_pick.author}}</strong
                  >
                </a>
              </li>
              <li class="list-inline-item">
                <time class="m-2 text-muted">
                  <i class="fas fa-calendar-alt"></i>
                  {{ editors_pick.created_on|date:"M d, Y" }}
                </time>
              </li>
            </ul>
            <ul class="list-inline border-bottom">
              <li class="list-inline-item">
                <i class="fa-solid fa-sitemap purple"></i>
                <span class="text-capitalize">{{ editors_pick.category }}</span>
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-thumbs-up text-primary"></i>
                {{ editors_pick.number_of_likes }}
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-comments text-success"></i>
                {{ editors_pick.comment_count }}
              </li>
            </ul>

            <p class="mt-2">{{editors_pick.excerpt}}</p>
            <a
              href="{% url 'post_detail' slug=editors_pick.slug %}"
              class="btn btn-outline-primary"
              >Read More</a
            >
          </div>
        </article>
      </div>
      <div class="col-lg-4 mb-5">
        <h2 class="article-title">
          <strong><em>Trending Posts</em></strong>
        </h2>
        {% for post in trending_posts %}

        <article class="card mb-4 fade-in text-start">
          <div class="d-flex p-2">
            {% if "placeholder" in post.featured_image.url %}
            <img
              class="card-img-sm"
              src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
              width="100%"
            />
            {% else %}
            <img class="card-img-sm" src=" {{ post.featured_image.url }}" />
            {% endif %}
            <div class="ps-2">
              <h3 class="text-capitalize h6">
                <a href="{% url 'post_detail' slug=post.slug %}"
                  ><strong>{{post.title}}</strong></a
                >
              </h3>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <i class="fa-solid fa-user text-info"></i>
                  <a href="{% url 'profile' slug=post.author.username %}">
                    <strong class="text-capitalize"> {{post.author}}</strong>
                  </a>
                </li>
                <li class="list-inline-item">
                  <small class="text-dark text-capitalize">
                    <i class="fa-solid fa-sitemap purple"></i>
                    {{ post.category }}</small
                  >
                </li>
                <li class="list-inline-item">
                  <small class="text-dark">
                    <i class="fa-solid fa-thumbs-up text-primary"></i>
                    {{ post.number_of_likes }}</small
                  >
                </li>
                <li class="list-inline-item">
                  <small class="text-muted">
                    <i class="fas fa-calendar-alt text-end"></i>
                    {{post.created_on|date:"F d, Y" }}
                  </small>
                </li>
              </ul>
            </div>
          </div>
        </article>

        {% endfor %}
      </div>

      <div class="col-lg-4 mb-5">
        <h2 class="article-title">
          <strong><em>Popular Post</em></strong>
        </h2>

        <article class="card fade-in">
          {% if "placeholder" in popular_post.featured_image.url %}
          <img
            class="card-img-top"
            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
            width="100%"
          />
          {% else %}
          <img
            class="card-img-top"
            src=" {{ popular_post.featured_image.url }}"
          />
          {% endif %}

          <div class="card-body p-1">
            <h3 class="h4 mb-3">
              <strong class="text-uppercase"
                ><a href="{% url 'post_detail' slug=popular_post.slug %}"
                  >{{popular_post.title}}</a
                ></strong
              >
            </h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa-solid fa-user text-info"></i>
                <a href="{% url 'profile' slug=popular_post.author.username %}">
                  <strong class="text-capitalize">
                    {{popular_post.author}}</strong
                  >
                </a>
              </li>
              <li class="list-inline-item">
                <time class="m-2 text-muted">
                  <i class="fas fa-calendar-alt"></i>
                  {{ popular_post.created_on|date:"M d, Y" }}
                </time>
              </li>
            </ul>
            <ul class="list-inline border-bottom">
              <li class="list-inline-item">
                <i class="fa-solid fa-sitemap purple text-capitalize"></i>
                <span class="text-capitalize">
                  {{ popular_post.category }}
                </span>
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-thumbs-up text-primary"></i>
                {{ popular_post.number_of_likes }}
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-comments text-success"></i>
                {{ popular_post.comment_count }}
              </li>
            </ul>

            <p class="mt-2">{{popular_post.excerpt}}</p>
            <a
              href="{% url 'post_detail' slug=popular_post.slug %}"
              class="btn btn-outline-primary"
              >Read More</a
            >
          </div>
        </article>
      </div>
      <div class="col-12">
        <div class="border-bottom border-default"></div>
      </div>
    </div>
  </div>
</div>
<!--  -->
{%endblock%}
