{% extends "base.html" %}
<!--  -->
{% block content %}

<!-- <h1 class="text-center text-light">{{category.title}}</h1> -->

<div class="container pt-5 text-center">
  <h1 class="heading mb-5 text-light">
    What Would You <br />
    Like To Read Today?
  </h1>
  <ul class="list-inline widget-list-inline">
    <li class="list-inline-item"><a href="tags.html">All</a></li>
    <li class="list-inline-item"><a href="tags.html">Sports</a></li>
    <li class="list-inline-item"><a href="tags.html">Gadgets</a></li>
  </ul>

  <!-- <div class="row p-3">
    {% for category in categories %}
    <div class="col-md-4 g-3 mt-3 mb-3">
      <div class="card fade-in p-1">

      </div>
    </div>

    {% endfor %}
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-5">
        <h2 class="h5 section-title">Editors Pick</h2>
        <article class="card">
          <div class="post-slider slider-sm slick-initialized slick-slider">
            <div class="slick-list draggable">
              <div
                class="slick-track"
                style="
                  opacity: 1;
                  width: 350px;
                  transform: translate3d(0px, 0px, 0px);
                "
              >
                <img
                  src="images/post/post-1.jpg"
                  class="card-img-top slick-slide slick-current slick-active"
                  alt="post-thumb"
                  data-slick-index="0"
                  aria-hidden="false"
                  style="width: 350px"
                  tabindex="0"
                />
              </div>
            </div>
          </div>

          <div class="card-body">
            <h3 class="h4 mb-3">
              <a class="post-title" href="post-details.html"
                >Use apples to give your bakes caramel and a moist texture</a
              >
            </h3>
            <ul class="card-meta list-inline">
              <li class="list-inline-item">
                <a href="author-single.html" class="card-meta-author">
                  <img src="images/john-doe.jpg" />
                  <span>Charls Xaviar</span>
                </a>
              </li>
              <li class="list-inline-item">
                <i class="ti-timer"></i>2 Min To Read
              </li>
              <li class="list-inline-item">
                <i class="ti-calendar"></i>14 jan, 2020
              </li>
              <li class="list-inline-item">
                <ul class="card-meta-tag list-inline">
                  <li class="list-inline-item">
                    <a href="tags.html">Color</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="tags.html">Recipe</a>
                  </li>
                  <li class="list-inline-item"><a href="tags.html">Fish</a></li>
                </ul>
              </li>
            </ul>
            <p>
              It’s no secret that the digital industry is booming. From exciting
              startups to …
            </p>
            <a href="post-details.html" class="btn btn-outline-primary"
              >Read More</a
            >
          </div>
        </article>
      </div>
      <div class="col-lg-4 mb-5">
        <h2 class="h5 section-title">Trending Post</h2>

        {% for post in trending_posts %}

        <article class="card mb-4">
          <div class="card-body d-flex">
            {% if "placeholder" in post.featured_image.url %}
            <img
              class="card-img-sm"
              src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
              width="100%"
            />
            {% else %}
            <img class="card-img-sm" src=" {{ post.featured_image.url }}" />
            {% endif %}
            <div class="ml-3">
              <h4>
                <a href="post-details.html" class="post-title"
                  >{{post.title}}</a
                >
              </h4>
              <ul class="card-meta list-inline mb-0">
                <li class="list-inline-item mb-0">
                  <i class="ti-calendar"></i>{{post.created_on|date:"F d, Y" }}
                </li>
                <li class="list-inline-item mb-0">
                  <i class="ti-timer"></i>2 Min To Read
                </li>
              </ul>
            </div>
          </div>
        </article>

        {% endfor %}
      </div>

      <div class="col-lg-4 mb-5">
        <h2 class="h5 section-title">Popular Post</h2>

        <article class="card">
          <div class="card fade-in position-relative">
            <span class="position-absolute category-tag bg-primary"
              >{{popular_post.category}}</span
            >
            {% if "placeholder" in popular_post.featured_image.url %}
            <img
              class="card-img-top"
              src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
              width="100%"
            />
            {% else %}
            <img
              class="card-img-top"
              src=" {{ popular_post.featured_image.url }}"
            />
            {% endif %}
            <div class="card-body text-start">
              <h3 class="card-title">{{ popular_post.title }}</h3>
              <a
                class="text-decoration-none align-items-center"
                href="{% url 'profile' slug=popular_post.author.username %}"
              >
                <i
                  class="bg-primary p-1 border border-dark border-2 rounded-circle fa-solid fa-trophy gold"
                ></i
                ><strong class="text-capitalize">
                  {{popular_post.author}}
                </strong></a
              >

              <p class="card-text mt-2">{{popular_post.excerpt}}</p>
              <p class="d-flex justify-content-between mb-0">
                <small class="text-dark">
                  <i class="fa-solid fa-thumbs-up text-primary"></i>
                  {{ popular_post.number_of_likes}}

                  <i class="fa-solid fa-comments text-success"></i>
                  {{ comment_count }}
                </small>
                <small class="text-muted">
                  <i class="fas fa-calendar-alt text-end"></i>
                  {{popular_post.created_on|date:"F d, Y" }}
                </small>
              </p>

              <a
                class="mt-4 btn btn-outline-primary"
                href="{% url 'post_detail' popular_post.slug  %}"
                >Read More</a
              >
            </div>
          </div>
        </article>
      </div>
      <div class="col-12">
        <div class="border-bottom border-default"></div>
      </div>
    </div>
  </div>
</div>
<!--  -->
{%endblock%}
