{% extends "base.html" %}
<!--  -->
{% block content %}

<!-- <h1 class="text-center text-light">{{category.title}}</h1> -->

<div class="text-center position-relative p-5">
  <h1 class="heading mb-5 text-light">
    What Would You <br />
    Like To Read Today?
  </h1>
  <ul class="list-inline widget-list-inline">
    <li class="list-inline-item"><a href="tags.html">All</a></li>
    <li class="list-inline-item"><a href="tags.html">Sports</a></li>
    <li class="list-inline-item"><a href="tags.html">Gadgets</a></li>
  </ul>
  <svg
    class="banner-border"
    height="240"
    viewBox="0 0 2202 240"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
      stroke-width="5"
    ></path>
  </svg>
</div>
<div class="container pt-5">
  <div class="row p-3">
    {% for post in posts %}
    <div class="col-md-4 g-3 mt-3 mb-3">
      <div class="card fade-in p-1">
        {% if "placeholder" in post.featured_image.url %}
        <img
          class="card-img-top"
          src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
          width="100%"
        />
        {% else %}
        <img class="card-img-top" src=" {{ post.featured_image.url }}" />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.excerpt}}</p>
          <p>{{post.slug}}</p>
          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary"
            >View More</a
          >
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
  <!--  -->
  {% if posts.has_other_pages %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if posts.has_previous %}
      <li class="page-item">
        <a href="?page=1" class="page-link">&laquo; First</a>
      </li>
      <li class="page-item">
        <a href="?page={{ posts.previous_page_number }}" class="page-link"
          >&lt; Previous</a
        >
      </li>
      {% endif %}

      <!-- Display individual page numbers -->
      {% for page_num in posts.paginator.page_range %}
      <li class="page-item{% if page_num == posts.number %} active{% endif %}">
        <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
      </li>
      {% endfor %} {% if posts.has_next %}
      <li class="page-item">
        <a href="?page={{ posts.next_page_number }}" class="page-link"
          >Next &gt;</a
        >
      </li>
      <li class="page-item">
        <a href="?page={{ posts.paginator.num_pages }}" class="page-link"
          >Last &raquo;</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
  <!--  -->
</div>
<!--  -->
{%endblock%}
