{% extends "base.html" %}
<!--  -->
{% block content %}

<div class="container pt-5 text-center">
  <h1 class="article-title">
    <strong>{{category.title}}</strong>
  </h1>
  <h2 class="mt-5 text-light border-bottom">
    <em>Uncover the latest updates!</em>
  </h2>
  <div class="container pt-5">
    <div class="row p-3">
      {% for post in posts %}
      <div class="col-md-4 g-3 mt-3 mb-3">
        <article class="card fade-in">
          {% if "placeholder" in post.featured_image.url %}
          <img
            class="card-img-top"
            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
            width="100%"
          />
          {% else %}
          <img class="card-img-top" src=" {{ post.featured_image.url }}" />
          {% endif %}

          <div class="card-body">
            <h3 class="h4 mb-3">
              <strong class="text-uppercase"
                ><a href="{% url 'post_detail' slug=post.slug %}"
                  >{{post.title}}</a
                ></strong
              >
            </h3>
            <ul class="list-inline">
              <li class="list-inline-item">
                <i class="fa-solid fa-user text-info"></i>
                <a href="{% url 'profile' slug=post.author.username %}">
                  <strong class="text-capitalize"> {{post.author}}</strong>
                </a>
              </li>
              <li class="list-inline-item">
                <time class="m-2 text-muted">
                  <i class="fas fa-calendar-alt"></i>
                  {{ post.created_on|date:"M d, Y" }}
                </time>
              </li>
            </ul>
            <ul class="list-inline border-bottom">
              <li class="list-inline-item">
                <i class="fa-solid fa-sitemap purple"></i>
                <span class="text-capitalize">{{ post.category }}</span>
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-thumbs-up text-primary"></i>
                {{ post.number_of_likes }}
              </li>
              <li class="list-inline-item">
                <i class="fa-solid fa-comments text-success"></i>
                {{ post.comment_count }}
              </li>
            </ul>

            <p class="mt-2">{{post.excerpt}}</p>
            <a
              href="{% url 'post_detail' slug=post.slug %}"
              class="btn btn-outline-primary"
              >Read More</a
            >
          </div>
        </article>
      </div>

      {% endfor %}
    </div>
    <!--  -->
    {% if posts.has_other_pages %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item">
          <a href="?page=1" class="page-link">&laquo; First</a>
        </li>
        <li class="page-item">
          <a href="?page={{ posts.previous_page_number }}" class="page-link"
            >&lt; Previous</a
          >
        </li>
        {% endif %}

        <!-- Display individual page numbers -->
        {% for page_num in posts.paginator.page_range %}
        <li
          class="page-item{% if page_num == posts.number %} active{% endif %}"
        >
          <a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a>
        </li>
        {% endfor %} {% if posts.has_next %}
        <li class="page-item">
          <a href="?page={{ posts.next_page_number }}" class="page-link"
            >Next &gt;</a
          >
        </li>
        <li class="page-item">
          <a href="?page={{ posts.paginator.num_pages }}" class="page-link"
            >Last &raquo;</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    <!--  -->
  </div>
  <!--  -->
</div>

{%endblock%}
