{% extends 'base.html' %} {% block content %}
<!--  -->
{% load crispy_forms_tags %}

<div id="main-content" class="container">
  <div class="row clearfix">
    <div class="col-lg-8 col-md-12 left-box">
      <article class="card single_post">
        <div class="body p-3">
          <div class="img-post border rounded">
            {% if "placeholder" in post.featured_image.url %}
            <img
              src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
              class="img-fluid"
            />
            {% else %}
            <img class="img-fluid" src=" {{ post.featured_image.url }}" />
            {% endif %}
          </div>
          <h6
            class="text-uppercase text-primary fw-bolder mt-1 text-decoration-underline text-capitalize"
          >
            {{post.category}}
          </h6>

          <h1>{{post.title}}</h1>
          <div class="d-flex justify-content-between">
            <div class="author">
              <div class="avatar bg-primary">
                <i class="fa-solid fa-trophy gold"></i>
              </div>
              <div class="author-body">
                <label class="text-capitalize">
                  <a href="{% url 'profile' slug=post.author.username %}"
                    ><strong>{{post.author}}</strong></a
                  >
                </label>
                <span class="text-secondary">{{post.created_on}}</span>
              </div>
            </div>
            <!-- The number of likes goes before the closing strong tag -->
            <strong class="h3">
              {% if user.is_authenticated %}
              <form
                class="d-inline"
                action="{% url 'post_like' post.slug %}"
                method="POST"
              >
                {% csrf_token %} {% if liked %}
                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                >
                  <i class="fa-solid fa-thumbs-up text-primary"></i>
                </button>
                {% else %}
                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like text-primary"
                >
                  <i class="fa-regular fa-thumbs-up"></i>
                </button>
                {% endif %}
              </form>
              {% else %}
              <span class="text-secondary"><i class="far fa-heart"></i></span>
              {% endif %}
              <!-- The number of likes goes before the closing strong tag -->
              <span class="text-secondary">{{ post.number_of_likes }} </span>
            </strong>
          </div>

          <hr />

          <div class="mt-2 mb-2">{{ post.content | safe }}</div>
        </div>
      </article>
      <section id="comments" class="card p-3 mt-3">
        <div class="header">
          <h2>
            {% with comments.count as total_comments %}
            <strong>
              <i class="fas fa-comments text-success"></i>
              <!-- Our total_comments variable goes before the closing strong tag -->
              {{ total_comments }}
            </strong>
            {% endwith %}
          </h2>
        </div>
        <hr />
        <div class="body">
          <ul class="comment-reply list-unstyled">
            {% for comment in comments %}

            <li class="row clearfix">
              <div class="icon-box col-md-2 col-4">
                <div
                  class="h-100 d-flex justify-content-center align-items-center border border-dark rounded-3 bg-primary"
                >
                  <i
                    style="font-size: 4rem"
                    class="fa-solid fa-trophy gold"
                  ></i>
                </div>
              </div>
              <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                <h5 class="m-b-0 text-capitalize">{{comment.name}}</h5>
                <p>{{comment.body | linebreaks}}</p>
                <label class="list-inline text-primary">
                  {{comment.created_on}}
                </label>
              </div>
            </li>
            <hr />
            {% endfor %}
          </ul>
        </div>
      </section>
      <section id="add-comment" class="card p-3 mt-3 mb-3">
        <h2>Like what you read? Leave a comment!</h2>
        <hr />
        <div class="card-body">
          {% if commented %}
          <div class="alert alert-success" role="alert">
            Your comment is awaiting approval
          </div>
          {% else %} {% if user.is_authenticated %}

          <p>Posting as: {{ user.username }}</p>
          <form method="post" style="margin-top: 1.3em">
            {{ comment_form | crispy }} {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </form>
          {% endif %} {% endif %}
        </div>
      </section>
    </div>
    <section id="popular-posts" class="col-lg-4 col-md-12 right-box">
      <div class="card p-3">
        <div class="header">
          <h2 class="text-capitalize">Popular Posts in {{ post.category }}</h2>
          <hr />
        </div>
        <div class="body">
          <div class="row">
            <div class="col-lg-12">
              {% for post, comment_count in popular_posts %}
              <a
                class="text-decoration-none text-dark"
                href="{% url 'post_detail' post.slug  %}"
              >
                <article class="card fade-in mb-2">
                  {% if "placeholder" in post.featured_image.url %}
                  <img
                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                    class="img-fluid rounded w-100"
                  />
                  {% else %}
                  <img
                    class="img-fluid rounded w-100"
                    src=" {{ post.featured_image.url }}"
                  />
                  {% endif %}

                  <div class="card-body">
                    <h3 class="h4 mb-3">
                      <strong class="text-uppercase">{{post.title}} </strong>
                    </h3>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa-solid fa-user text-info"></i>
                        <a href="{% url 'profile' slug=post.author.username %}">
                          <strong class="text-capitalize">
                            {{post.author}}</strong
                          >
                        </a>
                      </li>

                      <li class="list-inline-item">
                        <time class="m-2 text-muted">
                          <i class="fas fa-calendar-alt"></i>
                          {{ post.created_on|date:"M d, Y" }}
                        </time>
                      </li>
                    </ul>
                    <ul class="list-inline border-bottom">
                      <li class="list-inline-item">
                        <i
                          class="fa-solid fa-sitemap purple text-capitalize"
                        ></i>
                        <span class="text-capitalize">
                          {{ post.category }}
                        </span>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa-solid fa-thumbs-up text-primary"></i>
                        {{ post.number_of_likes }}
                      </li>
                      <li class="list-inline-item">
                        <i class="fa-solid fa-comments text-success"></i>
                        {{ comment_count }}
                      </li>
                    </ul>

                    <p class="mt-2">{{post.excerpt}}</p>
                  </div>
                </article>
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock content %}
